canvas {
	background-image: url("outer-space-2.jpg");
	position:absolute;
    left:50%;
    top:50%;
    margin:-250px 0 0 -250px;
}

h1 {
	text-align: center;
}

.instructions {
	position: fixed;
	left: 50px;
	
}
